<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5>Contact</h5>
                <p>Phone: <span class="phone-number">123-456-7890</span></p>
            </div>
            <div class="col-md-4">
                <h5>Social Media</h5>
                <ul class="social-media">
                    <li><a href="#">Facebook<i class="fab fa-facebook"></i></a></li>
                    <li><a href="#">X or twitter<i class="fab fa-twitter"></i></a></li>
                    <li><a href="#">Instagram<i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Addresses</h5>
                <ul class="addresses">
                    <li>123 Main St, City, State, Zip</li>
                    <li>456 Elm St, City, State, Zip</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>&copy; 2024 Erizo VetClinic. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
<style>
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%; /* Adjust the width as per your requirement */
        background-color: #f2e8cf;
        padding: 0px 0; /* Reduce the padding to make the footer shorter */
        text-align: center;
        max-height: 30%;
    }

</style>
